  </main>
  <footer>
    <a href="/">Accueil</a> - 
    <a href="/book">Livre d'or</a> - 
    <a href="/search">Recherche</a> - 
    <a href="#top">Retour en haut de page</a>
  </footer>
</body>
</html>