<%- include('partials/header') %>

    <p>Choisissez une saison</p>
    <form action="/search" method="get">
        <select name="formulaireGet" season="">
            <option value="season">saison1</option>
            <option value="season">saison2</option>
            <option value="season">saison3</option>
            <option value="season">saison4</option>
            <option value="season">saison5</option>
            <option value="season">saison6</option>         
        </select>

        <button>Valider</button>
    </form>


<%- include('partials/footer') %>