<%- include('partials/header') %>

    <p>Choisissez une saison</p>
    <form action="/search" method="get">
        <select name="formulaireGet" season="">
            <option value="1">saison1</option>
            <option value="2">saison2</option>
            <option value="3">saison3</option>
            <option value="4">saison4</option>
            <option value="5">saison5</option>
            <option value="6">saison6</option>         
        </select>

        <button>Valider</button>
    </form>


<%- include('partials/footer') %>